<VirtualHost *:80>
  ServerName <%= node['host']['fqdn']||node['host']['name']+'.local' %>
  DocumentRoot /vagrant/www/htdocs

  <Directory "/vagrant/www/htdocs">
    AllowOverride all
  </Directory>

</VirtualHost>
